<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../scripts/interest.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">FIND YOUR BOOK</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"> <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
            ></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button
            class="btn btn-outline-success my-2 my-sm-0"
            onclick="window.location.href='../login.html'"
            type="button"
          >
            LOGOUT
          </button>
        </form>
      </div>
    </nav>
    <div class="back">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="panel-group col-md-3" style="padding-top: 120px;">
          <div class="panel panel-primary">
            <div class="panel-heading"><h3>Let's Find Your Book</h3></div>
            <div class="panel-body">
              <div class="form-group mt-0">
                <div>
                  <h6>Author Name</h6>
                  <input
                    class="form-control"
                    id="author-name"
                    type="text"
                    placeholder="Author Name"
                  />
                </div>
                <div>
                  <h6>Book Name</h6>
                  <input
                    class="form-control"
                    id="book-name"
                    type="text"
                    placeholder="Book Name"
                  />
                </div>
                <br />
                <div>
                  <button
                    id="find_book"
                    type="button"
                    onclick="find()"
                    class="btn btn-outline-dark my-2 my-sm-0"
                  >
                    <i class="material-icons"> search </i>FIND
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="table-responsive">
        <table
          class="table"
          id="result"
          width="50%"
          align="center"
          style="overflow-y: auto;"
        ></table>
      </div>
    </div>
    <!-- <script src="../routes/interest.js"></script> -->
    <script src="../script.js"></script>
  </body>
</html>
